$color__green: #324D3C;
$color__brown: #F3ECDE;
$color__orange: #ED683F;
body{
  font-family: acumin-pro,sans-serif;
  font-weight: 300;
  font-style: normal;
}
h1{
  font-family: acumin-pro,sans-serif;
  font-weight: 800;
  font-style: normal;
}
.header-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 130px;
  align-items: center;
}
.logo{
  width: 100%;
  max-width: 260px;
  transform: translateY(50%);
  @include transition();
  &:hover{
    transform: translateY(0);
  }
}
#book-a-table{
  &:hover{
    color: $color__orange;
    .arrow-down{
      border-top-color: $color__orange;
    }
  }
  cursor: pointer;
  white-space: nowrap;
  font-size: 20px;
  letter-spacing: 5.2px;
  font-weight: 700;
  @include transition();
  .arrow-down{
    display: inline-block;
    margin: 0 26px;
    @include arrowDown();
    @include transition();
  }
}
.nav-wrapper{
  width: 260px;
}
#menu-icon{
  display: block;
  position: relative;
  float: right;
  width: 30px;
  height: 20px;
  &:hover{
    span{
      background-color: $color__orange;
    }
  }
  span{
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 15px;
    background-color: $color__green;
    left: 0;
    @include transition();
    &:first-child{
      top: 0;
    }
    &:last-child{
      bottom: 0;
    }

  }
  &.open{
    span{
      background-color: $color__orange;
      top: 10px;
      &:first-child{
        transform: rotate(45deg);
      }
      &:last-child{
        transform: rotate(-45deg);
      }
    }
  }
}
.main-navigation{
  display: none;
}
.banner{
  width: 100%;
  height: 780px;
  background: rgb(243,236,222);
  background: linear-gradient(180deg, rgba(243,236,222,1) 0%, rgba(243,236,222,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}
@media screen and (min-width: 1600px) {
  .container{
    width: 1484px;
  }
}
